# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Node
node_modules/
dist/
.angular/

# Env
.env

# IDE
.idea/

# OS
.DS_Store

# Local data
backend/db.sqlite3
backend/import_test.xlsx
